{varType \Netlte\BreadCrumbs\Bread $control}
<ol class="breadcrumb" n:if="count($control->getBreadCrumbs()) > 1" n:inner-foreach="$control->getBreadCrumbs() as $node">
	<li n:class="$iterator->isLast() ? active">
		<a n:tag-if="!$iterator->isLast()" href="{$presenter->link($node->getLink(), $node->getArgs())}">
			<i n:tag-if="$iterator->isFirst() && $control->getIcon()" class="{$control->getFQNIcon()}"></i>
			{$node->getTitle()|translate}
		</a>
	</li>
</ol>